<form [formGroup]="parkingForm">

    Veiculo: <br/>
    <input type="text" size="40" formControlName="veiculo"/>
    <div *ngIf="parkingForm.controls.veiculo.errors?.required" class="error">
        Nome do Veículo é obrigatório!
    </div>

    <br/>
    
    Placa (Ex: ABC1234): <br/>
    <input type="text" size="10" maxlength="7" formControlName="placa" >
    <div *ngIf="parkingForm.controls.placa.errors?.required" class="error">
        Placa do veiculo é obrigatória!
    </div>
    
    <br/>

    Motorista: <br/>
    <input type="text" size="40" formControlName="motorista">
    <div *ngIf="parkingForm.controls.motorista.errors?.required" class="error">
        Nome do Motorista é obrigatório!
    </div>

    <br/>

    Telefone Contato (46988887777): <br/>
    <input type="text" size="20" formControlName="telefone" maxlength="11">
    <div *ngIf="parkingForm.controls.telefone.errors?.required" class="error">
        Telefone para contato é obrigatório!
    </div>
</form>

<input style="margin-top: 30px;" type="button" value="Salvar" (click)="save()" [disabled]="parkingForm.invalid" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input style="margin-top: 30px;" type="button" value="Voltar" (click)="goToList()">